body{
    background-color: #E1E6E8;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    margin-top: 30px;
    display: flex;
    flex-basis: auto;
}

.main__text{
    line-height:25px;
    text-align:center;
}

.main-h{
    text-align:center;
    font-size: 14pt
}

.main-list__item{
    padding-bottom: 5px;
}

.main-info-list{
    display: flex;
    height: 40px;
}

.main-info-list__text{
    font-size: 11pt;
    margin: 11px 0px;
    padding: 0 0 0 4px;
}

.main-info-list__image{
    margin: 4px 0px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
}

tr:nth-child(even) {
    background-color: #808080;
}

tr:nth-child(odd){
    background-color: #BFBFBF;
}

.td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

table{
    border: 1px solid;
}

#img1{
    padding: 0px 2px
}

#img2{
    padding: 0px 0.25px;
}

#img3{
    padding: 0px 7px
}

.main-aside_left__pre,
.main-table{
    margin-right:auto;
    margin-left:auto;
}

.main-aside-left__img{
    height: 130px;
    margin-right:auto;
    margin-left:auto;
}

.main-aside-right__code{
    font-weight:bold;
}

@media (min-width: 952px){
    .main-info{
        flex-grow:1;
    }
    .main-aside_left{
        flex-grow:1;
    }
    .main-aside_right{
        flex-grow:1;
    }
}

@media (max-width: 951px){
    .main-aside_left{
        flex-grow:1;
    }
    .main-aside_right{
        display: none;
    }
    .main-info{
        flex-grow:1;
    }
    .main{
        flex-wrap: wrap;
    }
}

@media (max-width: 465px){
    .main-aside_left{
        display: none;
    }
    .main-info{
        flex-grow:1;
    }
}

.main-blockquote{
    font-family:"Comic Sans MS", serif;
}

.footer {
    flex: 0 0 auto;
}

.footer-list{
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 10%;
}

.footer-list__item{
    margin: 0px 10px;
}

.footer-list__item__img{
    height: 40px;
}

.nonestyle{
    list-style: none;
}


.footer-copyright{
    text-transform: uppercase;
}

.header{
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 5px;
    /* position: absolute; */
}

.header-name{
    margin: 0px auto;
    /* position: absolute; */
}

.header-nav{
    margin:20px auto;
    /* position: absolute; */
    display: flex;
}

.active,
.header-nav__elements{
    background-color:#BFBFBF;
    margin: 0px 10px;
    text-decoration: none;
    color:#404040;
}

.header-nav__elements:hover{
    background-color:#8b8b8b;
}


.block{
    padding: 5px 5px 5px;
    margin: 5px 10px 5px 0px;
    box-shadow: 10px 5px 5px #656869;
    border: solid 3px #404040;
    border-radius: 10px;
}

.active{
    color:black;
    font-weight:bold;
}

.main-todo-list-table{
    text-align: center;
}

.main-todo-list{
    text-align: center;
}

.ad{
    text-align: center;
    display: flex;
    flex-direction: column;
}


.main-todo{
    margin-left:auto; 
    margin-right:auto; 
}

.main-todo-table{
    margin-right:auto;
    margin-left:auto;
    border: solid 0px;
}

.main-todo-table-tbody__tr{
    padding: 0px;
    border: solid 2px #404040;
}


.main-todo-table-tbody__del-button-img{
    margin: 0;
    padding: 0;
    height: 20px;
}

.main-todo-table-tbody__td{
    padding: 0px 3px;
    height: 20px;
    border: solid 1px;
}

.main-todo__add_button{
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

.main-insert_menu{
    display: flex;
}

.load-time{
    position: fixed;
    background-color: #E1E6E8;
    display: flex;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: auto;
}

.delete-btn{
    margin-left: 2px;
    margin-top: 0px;
}